# Get some files for ignoring
meta/
sample_Y.png


# Dataset related
data*/
dataset_saved/

# Result related
result*/
results/*

# models
models/
__*

# training output files
*.err
*.out

#PID file
pidfile*
*.sh
