# Get some files for ignoring
meta/
sample_Y.png
saved_*/
debug/

train{0,1,2,3,4}.py


# Dataset related
data*/
dataset_saved/

# Result related
result*/
results/*

# models
models/
__*

# training output files
*.err
*.out

#PID file
pidfile*

*.sh
waitn*
