# Get some files for ignoring
sample_Y.png
saved_*/
debug/

# Don't add the ADM dataset as it is pretty big, download from data source
meta/ADM

train{0,1,2,3,4}.py


# Dataset related
data*/
dataset_saved/

# Result related
result*/
results/*

# models
models/
__*

# training output files
*.err
*.out

#PID file
pidfile*

# The running scripts
*.sh
waitn*
